@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: 0.1s;
}

:root{
    --p: #ffffff;
    --s: #010101;
    --t: #69C9D0;
    --q: #EE1D52;
}

body{
    color: var(--s);
    background-color: var(--p);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header{
    width: 98.1%;
    /* position: fixed;  to em grande dúvida se deixo fixado ou não */
}

nav {
    background-color: var(--p);
    color: var(--t);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-bottom: var(--q) solid 4px;
}

.nav1 a{
    /* border: 3px solid var(--q); */
    border-radius: 7px;
    padding: 3px;
    color: var(--s);
    text-decoration: none;
    margin: 10px;
    margin-right: 50px;
    font-size: 20px;
}

.nav1 a:hover{
    color: var(--t);
    transition: 0.3s;
}

.nav2{
    width: 15vw;
    display: flex;
    justify-content: space-between;
    margin-right: 10vw;
}

.nav2 i{
    margin: 11px;
}


.apresentacao{
    font-family: 'Poppins', sans-serif;
    height: 422px;
    width: 100%;
    padding-top: 25vh;
    background-color: var(--s);
    border-bottom: var(--p) 3px solid;
    display: flex;
    flex-direction: column;
    color: var(--p);
}

.apresentacao h3 {
    margin-right: 49%;
    color: var(--q);
    margin-left: 15vw;
    border-top: var(--t) 3px solid;
}

.apresentacao h1{
    font-size: 50px;
    margin-left: 15vw;
}

.apresentacao img{
    width: 60vw;
    height: 60vh;
    margin-left: 15%;
    top: 200vh;
    transition: 1s;
}

.conteudo{
    display: flex;
    text-align: justify;
    flex-direction: column;
    margin-top: 40vh;
    background-color: var(--p);
    color: var(--s);
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.conteudo h2{
    font-size: 40px;
}

.conteudo p{
    font-size: 25px;
}

.countdown-container{
    display: flex;
    justify-content: space-around;
    background-color: var(--t);
    color: var(--s);
    margin-top: 15vh;
    height: 50vh;
    width: 98.1%;
    padding: 15px;
    border-top: 5px solid var(--s);
    margin-bottom: -40vh;
}

.countdown-container h3{
    text-align: center;
    font-size: 35px;
    margin-top: 15px;

}

.countdown-el{
    background-color: var(--p);
    width: 20vw;
    /* border-top: 5px solid var(--q);
    border-left: 5px solid var(--q);
    border-right: 5px solid var(--s);
    border-bottom: 5px solid var(--s); */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.countdown-el span:nth-last-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, transparent, black);
    animation: animar1 2s linear infinite;
}

@keyframes animar1{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}

.countdown-el span:nth-last-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, black);
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar2{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(100%);
    }
}

.countdown-el span:nth-last-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to left, transparent, black);
    animation: animar3 2s linear infinite;
}

@keyframes animar3{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}

.countdown-el span:nth-last-of-type(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to top, transparent, black);
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar4{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(-100%);
    }
}


.box{
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    margin-top: 3vh;
    text-align: center;
    flex-direction: column;
}

.experiencia{
    font-size: 16px;
    margin-top: 3vh;
    padding: 5px;
}

.text{
    font-family: 'Orbitron', sans-serif;
}

.contagem-days{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 20px;
    
}

.contagem-days p{
    font-size: 35px;
}

.contagem-hours{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 20px;
}

.contagem-hours p{
    font-size: 35px;
}

.contagem-minutes{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 20px;
}

.contagem-minutes p{
    font-size: 35px;
}

.linear{
    background: linear-gradient(180deg, rgba(105,201,208,1) 0%, rgba(1,1,1,1) 100%);
    height: 10vh;
    margin-top: 40vh;
}

.container{
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 10px;
    background-color: var(--s);
    color: var(--s);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.child{
    background-color: var(--p);
    border-top: 5px solid var(--q);
    border-left: 5px solid var(--q);
    border-right: 5px solid var(--t);
    border-bottom: 5px solid var(--t);
    width: 33.3%;
    margin: 10px;
    display: flex;
    height: 30vh;
    color: var(--s);
    font-size: 20px;
}

.child p{
    margin-top: 50px;
}

.child img{
    height: 100%;
    width: 100%;
}
